@layer base{
    :root{
        --color-primary: #3300ff;
        --color-primary-variant: #2fff2f;
        --color-surface: #ffffff;
        --color-surface-variant: #000000; 
    }
}
@layer utilities{
    .font-space-grotesk{
        font-family: "Space Grotesk";
    }

    .font-poppins{
        font-family: "Poppins";
    }

    .border-brutal{
        border: 2px solid #000000;
    }

    .shadow-brutal-1{
        box-shadow: 4px 4px 0px #000000;
    }

    .shadow-brutal-2{
        box-shadow: 6px 6px 0px #000000;
    }

    .animation--bouncing{
        animation: bouncing 2s ease-in-out infinite;
        }
}
@keyframes bouncing{
    0%, 100%{
        transform: translateY(2px);
    }
    50%{
        transform: translateY(-2px);
    }
}